

h1, h2, h3, h4 {
  color: #0F0072;
  font-family: 'Josefin Sans', sans-serif;
  text-align: left;
  border-bottom: 3px solid #0F0072;
  border-length: 100px;
  margin: 0 auto;
  box-sizing: content-box;
}

h2, h3, h4 {
  display: inline-block;
}

h1 {
  text-align: center;
  padding: 10px;
  display: table;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Lobster', sans-serif;
}

p, li {
  font-family: 'Josefin Sans', sans-serif;
}



.navbardiv {
  text-align: center;
  box-sizing: border-box;
}

.navbar {
  background-color: #333333;
  position: fixed;
  width: 100%;
  right: 0px;
  top: 0px;
  z-index: 10;
}

.navbar a {
  font-family: 'Raleway', sans-serif;
  transition: background 0.25s ease-in-out;
  background-color: #7A7A7A;
  margin: 0 auto;
  color: white;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #FFFFFF;
  color: black;
}

.content {
  position: relative;
  top: 55px;
}

.answers {
  box-sizing: content-box;
}

#unit1-1 {
  color: #0008AC;
}

#unit1-1-answers {
  transition: background 0.15s ease-in-out;
  background-color: black;
  color: black;
  margin: 0 auto;
  display: inline-block;
}

#unit1-1-answers:hover {
  background-color: #FFFFFF;
  color: #0008AC;
}

li {
  font-size: 25px;
}

#unit4-1-image img {
  opacity: 0;
  transition: 0.25s ease;
}

#unit4-1-image img:hover {
  opacity: 1;
}

#numbered-answers p {
  color: black;
  background-color: black;
  transition: background 0.25s ease-in-out;
  margin: 0 auto;
  display: inline-block
}

#numbered-answers p:hover {
  background-color: #FFFFFF;
}

#graph-answer img {
  opacity: 0;
  transition: 0.25s ease;
}

#graph-answer img:hover {
  opacity: 1;
}
